.div_a {
    background-color: rgb(145, 92, 92);
    border: 10px solid black;
    height: 250px;
    width: 75%;
}

.div_a .div_b {
    background-color: white;
    border: 10px solid darkblue;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    height: 120px;
}

p {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-weight: 750;
}

.div_p {
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 120px;
    
}

.div_p .div_c {
    background-color: blue;
    height: 30px; 
    width: 70%;
    margin-right: 50px;
}

.div_p .div_d {
    background-color: purple;
    height: 30px; 
    width: 40%;
}

.div_p .div_e {
    background-color: green;
    height: 30px;
    width: 60%;
}

.div_p .div_f {
    background-color: yellow;
    height: 30px;
    width: 50%;
}

.div_g {
    margin-top: 100px;
    height: 30px;
    display: flex;
}

.div_h {
    background-color: red;
    width: 40%;
    height: 30px;
}

.div_i {
    background-color:rgb(0, 124, 128);
    width: 20%;
    height: 30px;
}

.div_j {
    background-color: green;
    width: 40%;
    height: 30px;
}